AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 120
Cpp11BracedListStyle: true
FixNamespaceComments: false
IndentWidth: 4
InsertNewlineAtEOF: true
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PointerAlignment: Middle
SpaceBeforeCpp11BracedList: true
Standard: c++20
